@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/*@font-face {
    font-family: 'Trirong',Arial;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/trirong/v9/7r3GqXNgp8wxdOdOn4Uo2JZg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}*/
*{
    font-family: Arial, sans-serif;
}
nav{
    background-color: rgb(250, 152, 182);
    font-size: 50px;
    color:white;
    height: 18mm;
    width: 18mm;
    border-radius: 9mm;
}
header>img{
    margin: 10mm 72mm 10mm 85mm;
    height:40mm;
    width: 40mm;
    border-radius: 20mm;
 }
.aboutMe{
    margin: 0mm 0mm 17mm 10mm;
    padding: 10px 0;
    border:1px solid black;
    width: 184mm;
    height: 80mm;
    font-size: 20px;
    text-align: center;
    line-height: 40mm;
    color: black;
}
.aboutMe>span{
    font-family: 'Pacifico', cursive;
    display: inline;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 1px 1px 2px blue;
    text-decoration: underline yellow;
}
.proj{ 
    margin: 0mm 0mm 17mm 10mm;
    display: inline-block;
    vertical-align: top;
    background-color:rgb(16, 189, 160);
    color:white;
    width:90mm;
    height:60mm;
    text-align: center;
    border:1mm solid  green;
}
.proj>img{
    margin: 5% 2px;
    width: 40mm;
}
.bl2 {
    display: inline-block;
    vertical-align: top;
    background-color: green;
    color: white;
    width:90mm;
    height:60mm;
    text-align: center;
    border:1mm solid  green;
    margin-bottom: 30px;
}
.bl2>img{
    margin: 4px 5%;
    max-height: 23mm;
}
.skills>button { 
    margin: 2px 0px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: gray; 
    color:white; 
}
.skills{     
    margin: 0mm 0mm 17mm 10mm;
    display: inline-block;
    vertical-align: top;
    width:92mm;
    height:60mm;
    /*border: 1mm solid black;*/
}
.myskills{
    padding: 20px 0px 0px 0px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    line-height: 2;
    width:90mm;
    height:60mm;
    border: 1mm solid green;
}
h2{
    text-align: center;
    text-decoration: underline ;
}
.nav>a{
    background-color: rgb(250, 152, 182);
    text-decoration: none;
    font-size: 50px;
    color:white;
    height: 18mm;
    width: 18mm;
    border-radius: 9mm;
}
.nav>.rbut{
    position: absolute;
    top: 190mm;
    left: 190mm;
    z-index: 1;
}
.nav>.lbut{
    position: absolute;
    top: 190mm;
    left: 5mm;
    z-index: 1;
}